# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
absl-py=0.8.0=pypi_0
astor=0.8.0=pypi_0
astroid=2.4.1=pypi_0
ca-certificates=2019.6.16=hecc5488_0
certifi=2019.6.16=py36_1
cycler=0.10.0=pypi_0
gast=0.3.1=pypi_0
google-pasta=0.1.7=pypi_0
grpcio=1.23.0=pypi_0
h5py=2.10.0=pypi_0
isort=4.3.21=pypi_0
keras-applications=1.0.8=pypi_0
keras-preprocessing=1.1.0=pypi_0
kiwisolver=1.1.0=pypi_0
lazy-object-proxy=1.4.3=pypi_0
libffi=3.2.1=he1b5a44_1006
libgcc-ng=9.1.0=hdf63c60_0
libstdcxx-ng=9.1.0=hdf63c60_0
markdown=3.1.1=pypi_0
matplotlib=3.1.1=pypi_0
mccabe=0.6.1=pypi_0
ncurses=6.1=hf484d3e_1002
openssl=1.1.1c=h516909a_0
pandas=0.25.3=pypi_0
pilgram=1.0.3=pypi_0
pillow=6.1.0=pypi_0
pip=19.1.1=py36_0
protobuf=3.9.1=pypi_0
pylint=2.5.2=pypi_0
pyparsing=2.4.4=pypi_0
python=3.6.7=h357f687_1005
python-dateutil=2.8.1=pypi_0
pytz=2019.3=pypi_0
readline=8.0=hf8c457e_0
scipy=1.4.1=pypi_0
seaborn=0.10.1=pypi_0
setuptools=41.0.1=py36_0
sqlite=3.29.0=hcee41ef_0
tensorboard=1.14.0=pypi_0
tensorflow=1.14.0=pypi_0
tensorflow-estimator=1.14.0=pypi_0
termcolor=1.1.0=pypi_0
tk=8.6.9=hed695b0_1002
toml=0.10.0=pypi_0
typed-ast=1.4.1=pypi_0
werkzeug=0.15.6=pypi_0
wheel=0.33.4=py36_0
wrapt=1.11.2=pypi_0
xz=5.2.4=h14c3975_1001
zlib=1.2.11=h516909a_1005
